<!DOCTYPE html>
<html ng-app="presenceService" lang="de">

<head>
  <title>Presence Service 2.0</title>
  <!--  ##############  Meta Tags ############## -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- used to start like an app with Android and ios devices -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!--  ##############  End: Meta Tags ############## -->

  <!--  ##############  Stylesheets ############## -->
  <!-- Vendor Stylesheets: -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/farbtastic.css" rel="stylesheet" type="text/css" />
  <!-- Style -->
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <!--  ##############  End: Stylesheets ############## -->

  <!--  ##############  javascript files (Vendor files) ############## -->
  <!-- jQuery:  -->
  <script src="js/jquery-1.11.1.min.js"></script>
  <!-- Bootstrap js: -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-sanitize.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_de-de.js"></script>

  <script type="text/javascript" src="js/farbtastic.js"></script>

  <!-- Angular.JS: -->
  <!-- OR CDN: <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script> -->
  <!--  ##############  End: javascript files (Vendor files) ############## -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/3.7.2/.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      -->
        <a class="navbar-brand" href="#">Presence Service - L0.13</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>



  <div ng-controller="changeStateCtrl" class="container">
    <div class="row">
      <div ng-repeat="person in persons" class="col-md-6 col-xs-12">
        <button type="button" class="btn btn-default btn-lg btn-fixed-130  {{person.btnClass}}" ng-click="nextState(person.id, person.state.state)">{{person.name}}</button>
        <!-- Split button -->
        <div class="btn-group" id="btnGrp_{{person.id}}">
          <button type="button" class="btn btn-default btn-lg  btn-success" ng-click="setNewState(person.id,'green')">
            <span class="glyphicon glyphicon-check"></span>
          </button>
          <button type="button" class="btn btn-default btn-lg  btn-warning" ng-click="setNewState(person.id,'yellow')">
            <span class="glyphicon glyphicon-log-out"></span>
          </button>
          <button type="button" class="btn btn-default btn-lg  btn-danger" ng-click="setNewState(person.id,'red')">
            <span class="glyphicon glyphicon-volume-off"></span>
          </button>
          <button type="button" class="btn btn-default btn-lg  btn-info" ng-click="setNewState(person.id,'blue')">
            <span class="glyphicon glyphicon-glass"></span>
          </button>
          <button type="button" class="btn btn-default btn-lg  btn-primary" ng-click="openModal(person.id)">
            <span class="glyphicon glyphicon-wrench"></span>
          </button>
          <button type="button" class="btn btn-default btn-lg  btn-default" ng-click="setNewState(person.id,'off')">
            <span class="glyphicon glyphicon-off"></span>
          </button>
        </div>
        <span class="help-block"></span>
      </div>
    </div>

    <div id="customizeStateModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Benutzerdefinierter Status</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5">
                <div id="colorpicker"></div>
              </div>
              <div class="col-md-7">
                <h5>Bitte wähle eine Farbe</h5>
                <input class="form-control"  type="text" id="color" name="color" value="#123456" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            <button type="button" class="btn btn-primary" ng-click="setNewState(choosedPerson,'custom')">Status übernehmen</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

  </div>
  <!--  ##############  additional javascript files ############## -->
  <script src="js/config.js"></script>
  <script src="js/presence.module.js"></script>
  <script src="js/controller/changeState.controller.js"></script>
  <!--  ##############  End: additional javascript files ############## -->
</body>

</html>
